<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Password Manager</title>
</head>
<body>
    <div id="login-container">
        <div id="login-header">
            <h2>Login</h2> 
        </div>

        <div id="login-form-div">
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Nickname"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <button type="submit">Login</button>
            </form>
        </div>
        
        <div id="error-div">
            {{ if .error }}
            <p>{{ .error}}</p>
            {{ end }}
        </div>

        <div id="change-site-div">
            <a href="/register">Create New Account</a>
        </div>

        <div id="social-login-div">
            <button class="social-button github">
                <a href="/auth/github/login">
                    <img src="/static/images/github_logo.png" alt="GitHub Logo">
                </a>
            </button>
            <button class="social-button google">
                <a href="/auth/google/login">
                    <img src="/static/images/google_logo.png" alt="Google Logo">
                </a>
            </button>
        </div>
    </div>
</body>
</html>