<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Password Manager</title>
</head>
<body>
    {{ if .error }}
    <p>{{ .error}}</p>
    {{ end }}

   <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Nickname"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">login</button>
    </form>

    <a href="/register">Create New Account</a>
</body>
</html>