<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Vault</title>
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
<body>
    <div id="vault-container">
        <div id="login-header">
            <h2>Your Vault</h2>
        </div>

        <div id="login-form-div">
            <h3 class="form-title">Add New Site:</h3>
            <form action="/vault/addSite" method="post" class="add-form">
                <input type="text" name="site" placeholder="Site">
                <input type="password" name="password" placeholder="Password">
                <input type="text" name="notes" placeholder="Notes">
                <button type="submit" class="add-button">Add New Site</button>
            </form>
        </div>

        <div id="error-div">
            {{ if .error }}
            <p>{{ .error}}</p>
            {{ end }}
        </div>
        
        <div class="site-list-section">
            <h3 class="list-title">Your Passwords:</h3>
            <ul class="site-list">
                {{range .siteData}}
                <li class="site-item">
                    <span class="site-info">
                        <p class="site-name">{{.Name}}</p>
                        <p class="site-details">Notes: {{.Notes}}</p>
                    </span>
                    <div class="action-buttons">
                        <button class="copy-password-button" hx-post="">Copy Passoword</button>
                        <button class="edit-button" hx-post="/vault/editSite/{{.ID}}" hx-target="closest li">Edit</button>
                        <button class="delete-button" hx-post="/vault/deleteSite/{{.ID}}" hx-target="closest li" hx-swap="delete">Delete</button>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
</body>
</html>